.dhis2-map-widget-container {
  height: 100%;

  .dhis2-map-title {
    height: 19px;
    font-weight: bold;
    font-size: 12px;
    font-family: LiberationSans, arial, sans-serif;
    color: rgb(51, 51, 51);
    text-align: center;
    line-height: 14px;
    letter-spacing: -0.1px;
  }

  .leaflet-container {
    height: calc(100% - 19px);
    border: 1px solid rgb(208, 208, 208);
  }

  .dhis2-map-widget-alert {
    font-size: 11px;
    padding-left: 20px;
  }

  .leaflet-popup {
    max-height: 250px;

    .leaflet-popup-content {
      max-height: 200px;
      overflow-y: auto;

      th {
        white-space: nowrap;
        vertical-align: top;
        color: #333;
        padding: 0;
        font-weight: bold;
        padding-right: 10px;
        font-size: 12px;
        border: 0;
        min-height: 0;
      }
    }
  }
}

// needs parent class to avoid conflict
//.x-border-box .gis-plugin * {box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}

// plugin
//.gis-plugin, .gis-plugin * { font-family: arial, sans-serif, liberation sans, consolas; }

// ext gray
/*
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
*:focus{outline:none}
.x-clear{overflow:hidden;clear:both;height:0;width:0;font-size:0;line-height:0}
.x-layer{position:absolute;overflow:hidden;zoom:1}
.x-css-shadow{position:absolute;-moz-border-radius:5px 5px;-webkit-border-radius:5px 5px;-o-border-radius:5px 5px;-ms-border-radius:5px 5px;-khtml-border-radius:5px 5px;border-radius:5px 5px}
.x-frame-shadow *{overflow:hidden}
.x-frame-shadow *{padding:0;border:0;margin:0;clear:none;zoom:1}
.x-mask{z-index:100;position:absolute;top:0;left:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:0.5;width:100%;height:100%;zoom:1;background:#cccccc}
.x-mask-msg{z-index:20001;position:absolute;top:0;left:0;padding:2px;border:1px solid;border-color:#d0d0d0;background-image:none;background-color:#e0e0e0}
.x-mask-msg div{padding:5px 10px 5px 25px;background-image:url("' + init.contextPath + '/dhis-web-commons/javascripts/plugin/images/loading.gif");background-repeat:no-repeat;background-position:5px center;cursor:wait;border:1px solid #b3b3b3;background-color:#eeeeee;color:#222222;font:normal 11px tahoma, arial, verdana, sans-serif}
.x-btn *{cursor:pointer;cursor:hand}
.x-btn em a{text-decoration:none;display:inline-block;color:inherit}
.x-btn-disabled span{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:0.5}
.x-ie6 .x-btn-disabled span,.x-ie7 .x-btn-disabled span{filter:none}
.x-btn button,.x-btn a{position:relative}
.x-item-disabled,.x-item-disabled *{cursor:default}
.x-datepicker a{-moz-outline:0 none;outline:0 none;color:#523a39;text-decoration:none;border-width:0}
.x-datepicker-prev a,.x-datepicker-next a{display:block;width:16px;height:16px;background-position:top;background-repeat:no-repeat;cursor:pointer;text-decoration:none !important;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:0.7}
.x-datepicker-prev a:hover,.x-datepicker-next a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}
.x-datepicker-next a{background-image:url("images/right-btn.gif")}
.x-datepicker-prev a{background-image:url("images/left-btn.gif")}
.x-item-disabled .x-datepicker-prev a:hover,.x-item-disabled .x-datepicker-next a:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);opacity:0.6}
.x-datepicker-month span{color:#fff !important}
table.x-datepicker-inner th span{display:block;padding-right:7px}
table.x-datepicker-inner a{padding-right:4px;display:block;zoom:1;font:normal 11px tahoma, arial, verdana, sans-serif;color:black;text-decoration:none;text-align:right}
table.x-datepicker-inner .x-datepicker-selected a{background:repeat-x left top;background-color:#d8d8d8;border:1px solid #b2aaa9}
table.x-datepicker-inner .x-datepicker-selected span{font-weight:bold}
table.x-datepicker-inner .x-datepicker-today a{border:1px solid;border-color:darkred}
table.x-datepicker-inner .x-datepicker-prevday a,table.x-datepicker-inner .x-datepicker-nextday a{text-decoration:none !important;color:#aaa}
table.x-datepicker-inner a:hover,table.x-datepicker-inner .x-datepicker-disabled a:hover{text-decoration:none !important;color:#000;background-color:transparent}
table.x-datepicker-inner .x-datepicker-disabled a{cursor:default;background-color:#eee;color:#bbb}
.x-item-disabled .x-datepicker-inner a:hover{background:none}
.x-monthpicker-item a{display:block;margin:0 5px 0 5px;text-decoration:none;color:#523a39;border:1px solid white;line-height:17px}
.x-monthpicker-item a:hover{background-color:transparent}
.x-color-picker a{border:1px solid #fff;float:left;padding:2px;text-decoration:none;-moz-outline:0 none;outline:0 none;cursor:pointer}
.x-color-picker a:hover,.x-color-picker a.x-color-picker-selected{border-color:#8bb8f3;background-color:#deecfd}
.x-color-picker em span{cursor:pointer;display:block;height:10px;width:10px;line-height:10px}
.x-menu-body{user-select:none;-o-user-select:none;-ms-user-select:none;-moz-user-select:-moz-none;-webkit-user-select:none;cursor:default;background:#f0f0f0 !important;padding:2px}
.x-menu-focus{display:block;position:absolute;top:-10px;left:-10px;width:0px;height:0px}
.x-menu-item{white-space:nowrap;overflow:hidden;z-index:1}
.x-menu-item-link{display:block;margin:1px;padding:6px 2px 3px 32px;text-decoration:none !important;line-height:16px;cursor:default}
.x-opera .x-menu-item-link{position:relative}
.x-menu-item-icon{width:16px;height:16px;position:absolute;top:5px;left:4px;background:no-repeat center center}
.x-menu-item-text{font-size:11px;color:#222222}
.x-menu-item-active .x-menu-item-link{background-image:none;background-color:#e6e6e6;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #dcdcdc));background-image:-webkit-linear-gradient(top, #eeeeee,#dcdcdc);background-image:-moz-linear-gradient(top, #eeeeee,#dcdcdc);background-image:-o-linear-gradient(top, #eeeeee,#dcdcdc);background-image:-ms-linear-gradient(top, #eeeeee,#dcdcdc);background-image:linear-gradient(top, #eeeeee,#dcdcdc);margin:0px;border:1px solid #9d9d9d;cursor:pointer;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-khtml-border-radius:3px;border-radius:3px}
.x-menu-item-disabled{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:0.5}
.x-ie6 .x-menu-item-link,.x-ie7 .x-menu-item-link,.x-quirks .x-ie8 .x-menu-item-link{padding-bottom:2px}
.x-nlg .x-menu-item-active .x-menu-item-link{background:#e6e6e6 repeat-x left top;background-image:url("images/menu-item-active-bg.gif")}
.x-unselectable{user-select:none;-o-user-select:none;-ms-user-select:none;-moz-user-select:-moz-none;-webkit-user-select:none;cursor:default}
.x-grid-row-editor .x-panel-body{background-color:#ebe6e6;border-top:1px solid #d0d0d0 !important;border-bottom:1px solid #d0d0d0 !important}
.x-webkit *:focus{outline:none !important}
.x-ie .x-fieldset-noborder legend span{position:absolute;left:16px}
.x-panel,.x-plain{overflow:hidden;position:relative}
.x-panel-header{padding:5px 4px 4px 5px}
.x-panel-header-horizontal .x-panel-header-body,.x-panel-header-horizontal .x-window-header-body,.x-panel-header-horizontal .x-btn-group-header-body,.x-window-header-horizontal .x-panel-header-body,.x-window-header-horizontal .x-window-header-body,.x-window-header-horizontal .x-btn-group-header-body,.x-btn-group-header-horizontal .x-panel-header-body,.x-btn-group-header-horizontal .x-window-header-body,.x-btn-group-header-horizontal .x-btn-group-header-body{width:100%}
.x-panel-header-text-container{overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.x-panel-header-text{user-select:none;-o-user-select:none;-ms-user-select:none;-moz-user-select:-moz-none;-webkit-user-select:none;cursor:default;white-space:nowrap}
.x-panel-body{overflow:hidden;position:relative;font-size:12px}
.x-panel-collapsed .x-panel-header-collapsed-border-top{border-bottom-width:1px !important}
.x-panel-default{border-color:#d0d0d0}
.x-panel-header-default{font-size:11px;line-height:15px;border-color:#d0d0d0;border-width:1px;border-style:solid;background-image:none;background-color:#d7d2d2;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #d7d7d7));background-image:-webkit-linear-gradient(top, #f0f0f0,#d7d7d7);background-image:-moz-linear-gradient(top, #f0f0f0,#d7d7d7);background-image:-o-linear-gradient(top, #f0f0f0,#d7d7d7);background-image:-ms-linear-gradient(top, #f0f0f0,#d7d7d7);background-image:linear-gradient(top, #f0f0f0,#d7d7d7);-moz-box-shadow:#efeded 0 1px 0px 0 inset;-webkit-box-shadow:#efeded 0 1px 0px 0 inset;-o-box-shadow:#efeded 0 1px 0px 0 inset;box-shadow:#efeded 0 1px 0px 0 inset}
.x-panel-header-text-default{color:#333333;font-size:11px;font-weight:bold;font-family:tahoma, arial, verdana, sans-serif}
.x-panel-collapsed .x-window-header-default,.x-panel-collapsed .x-panel-header-default{border-color:#d0d0d0}
.x-panel-collapsed .x-panel-header-default-top{-moz-border-radius-bottomleft:null;-webkit-border-bottom-left-radius:null;-o-border-bottom-left-radius:null;-ms-border-bottom-left-radius:null;-khtml-border-bottom-left-radius:null;border-bottom-left-radius:null;-moz-border-radius-bottomright:null;-webkit-border-bottom-right-radius:null;-o-border-bottom-right-radius:null;-ms-border-bottom-right-radius:null;-khtml-border-bottom-right-radius:null;border-bottom-right-radius:null}
.x-panel-header-default-top{-moz-box-shadow:#efeded 0 1px 0px 0 inset;-webkit-box-shadow:#efeded 0 1px 0px 0 inset;-o-box-shadow:#efeded 0 1px 0px 0 inset;box-shadow:#efeded 0 1px 0px 0 inset}
.x-tip-header a,.x-tip-body a,.x-form-invalid-tip-body a{color:#2a2a2a}
.x-toolbar-footer .x-box-inner{border-width:0}
.x-window-default{-moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; -o-border-top-left-radius:5px; -ms-border-top-left-radius:5px; -khtml-border-top-left-radius:5px; border-top-left-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; -o-border-top-right-radius:5px; -ms-border-top-right-radius:5px; -khtml-border-top-right-radius:5px; border-top-right-radius:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; -o-border-bottom-right-radius:5px; -ms-border-bottom-right-radius:5px; -khtml-border-bottom-right-radius:5px; border-bottom-right-radius:5px; -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; -o-border-bottom-left-radius:5px; -ms-border-bottom-left-radius:5px; -khtml-border-bottom-left-radius:5px; border-bottom-left-radius:5px; -moz-box-shadow:#ebe7e7 0 1px 0px 0 inset, #ebe7e7 0 -1px 0px 0 inset, #ebe7e7 -1px 0 0px 0 inset, #ebe7e7 1px 0 0px 0 inset; -webkit-box-shadow:#ebe7e7 0 1px 0px 0 inset, #ebe7e7 0 -1px 0px 0 inset, #ebe7e7 -1px 0 0px 0 inset, #ebe7e7 1px 0 0px 0 inset; -o-box-shadow:#ebe7e7 0 1px 0px 0 inset, #ebe7e7 0 -1px 0px 0 inset, #ebe7e7 -1px 0 0px 0 inset, #ebe7e7 1px 0 0px 0 inset; box-shadow:#ebe7e7 0 1px 0px 0 inset, #ebe7e7 0 -1px 0px 0 inset, #ebe7e7 -1px 0 0px 0 inset, #ebe7e7 1px 0 0px 0 inset; padding:4px 4px 4px 4px; border-color:#a9a9a9; border-width:1px; border-style:solid; background-color:#e8e8e8; }
.x-window{outline:none}
.x-window-header-default { border-color: #a9a9a9; zoom: 1; }
.x-window-header-default-top { box-shadow: #ebe7e7 0 1px 0px 0 inset, #ebe7e7 -1px 0 0px 0 inset, #ebe7e7 1px 0 0px 0 inset; border-bottom-left-radius: 0; padding: 5px 5px 0 5px; border-width: 1px; border-style: solid; background-color: #e8e8e8; }
.x-window .x-window-wrap .x-window-body{overflow:hidden}
.x-window-body-default{border-color:#bcb1b0;border-width:1px;background:#e0e0e0;color:black}
.x-window-body{position:relative;border-style:solid}
.x-message-box .x-window-body{background-color:#e8e8e8;border:none}
.x-tab-bar-bottom .x-tab-bar-body .x-box-inner{position:relative;top:-1px}
.x-tab-bar-bottom .x-tab-bar-body-default-plain .x-box-inner{position:relative;top:-1px}
.x-tab *{cursor:pointer;cursor:hand}
.x-tab-default-disabled *{cursor:default}
.x-tab button,.x-tab a{position:relative}
.x-grid-tree-loading span{font-style:italic;color:#444444}
.x-proxy-el{position:absolute;background:#b4b4b4;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.8}
.x-docked{position:absolute;z-index:1}
.x-docked-top{border-bottom-width:0 !important}
.x-box-inner{overflow:hidden;zoom:1;position:relative;left:0;top:0}
.x-box-item{position:absolute !important;left:0;top:0}
.x-box-layout-ct,.x-border-layout-ct{overflow:hidden;zoom:1}
.x-inline-children > *{display:inline-block !important}
.x-tool{height:15px}
.x-tool img{overflow:hidden;width:15px;height:15px;cursor:pointer;background-color:transparent;background-repeat:no-repeat;background-image:url("images/tool-sprites.gif");margin:0}
.x-panel-header-horizontal .x-tool,.x-window-header-horizontal .x-tool{margin-left:2px}
.x-tool-expand-bottom,.x-tool-collapse-bottom{background-position:0 -195px}
.x-tool-expand-top,.x-tool-collapse-top{background-position:0 -210px}
.x-html html,.x-html address,.x-html blockquote,.x-html body,.x-html dd,.x-html div,.x-html dl,.x-html dt,.x-html fieldset,.x-html form,.x-html frame,.x-html frameset,.x-html h1,.x-html h2,.x-html h3,.x-html h4,.x-html h5,.x-html h6,.x-html noframes,.x-html ol,.x-html p,.x-html ul,.x-html center,.x-html dir,.x-html hr,.x-html menu,.x-html pre{display:block}
.x-html :before,.x-html :after{white-space:pre-line}
.x-html :link,.x-html :visited{text-decoration:underline}
.x-panel-header-draggable,.x-panel-header-draggable .x-panel-header-text,.x-window-header-draggable,.x-window-header-draggable .x-window-header-text,.x-tip-header-draggable .x-tip-header-text { cursor:move; }
.x-panel-header-vertical,.x-panel-header-vertical .x-panel-header-body,.x-btn-group-header-vertical,.x-btn-group-header-vertical .x-btn-group-header-body,.x-window-header-vertical,.x-window-header-vertical .x-window-header-body,.x-html button,.x-html textarea,.x-html input,.x-html select { display:inline-block; }
.x-window-header-text { user-select:none; -o-user-select:none; -ms-user-select:none; -moz-user-select:0; -webkit-user-select:none; cursor:default; white-space:nowrap; display:block; }
.x-box-inner { zoom: 1; }
.x-panel-default { border-color: #d0d0d0; }
.x-panel { overflow: hidden; }
.x-panel-body { overflow: hidden; position: relative; }
//.x-panel-body-default { background: white; border-color: #d0d0d0; color: black; border-width: 1px; border-style: solid; }
.x-panel-body, .x-window-body * { font-size: 11px; }
.x-panel-header-default { line-height: 15px; border-color: #d0d0d0; border-width: 1px; border-style: solid; }
.x-panel-header { height: 30px; padding: 7px 4px 4px 7px; border: 0 none; }
.x-panel-header-text-default { color: #333333; font-weight: bold; }
.x-panel-header-text { -webkit-user-select: none; cursor: default; white-space: nowrap; }
.x-box-item { position: absolute !important; }
.x-unselectable { -webkit-user-select: none; cursor: default; }
.x-docked { position: absolute; z-index: 1; }
.x-docked-top { border-bottom-width: 0 !important; }
*/

// gis
/*
.x-mask-msg { padding: 0; border: 0 none; background-image: none; background-color: transparent; }
.x-mask-msg div { background-position: 11px center; }
.x-mask-msg .x-mask-loading { border: 0 none; background-color: #000; color: #fff; border-radius: 2px; padding: 12px 14px 12px 30px; opacity: 0.65; }
.gis-window-widget-feature { padding: 0; border: 0 none; border-radius: 0; background: transparent; box-shadow: none; }
.gis-window-widget-feature .x-window-body-default { border: 0 none; background: transparent; }
.gis-window-widget-feature .x-window-body-default .x-panel-body-default { border: 0 none; background: #556; opacity: 0.92; filter: alpha(opacity=92); -ms-filter: "alpha(opacity=92)"; padding: 5px 8px 4px 8px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; color: #fff; font-weight: bold; letter-spacing: 1px; }
.x-menu-body { border:1px solid #bbb; border-radius: 2px; padding: 0; background-color: #fff !important; }
.x-menu-item-active .x-menu-item-link {	border-radius: 0; border-color: #e1e1e1; background-color: #e1e1e1; background-image: none; }
.x-menu-item-link { padding: 4px 5px 4px 26px; }
.x-menu-item-text { color: #111; }
.disabled { opacity: 0.4; cursor: default !important; }
.el-opacity-1 { opacity: 1 !important; }
.el-border-0, .el-border-0 .x-panel-body { border: 0 none !important; }
.el-fontsize-10 { font-size: 10px !important; }
.gis-grid-row-icon-disabled * { cursor: default !important; }
.gis-toolbar-btn-menu { margin-top: 4px; }
.gis-toolbar-btn-menu .x-panel-body-default { border-radius: 2px; border-color: #999; }
.gis-grid .link, .gis-grid .link * { cursor: pointer; cursor: hand; color: blue; text-decoration: underline; }
.gis-menu-item-icon-drill, .gis-menu-item-icon-float { left: 6px; }
.gis-menu-item-first.x-menu-item-active .x-menu-item-link {	border-radius: 0; border-top-left-radius: 2px; border-top-right-radius: 2px; }
.gis-menu-item-last.x-menu-item-active .x-menu-item-link { border-radius: 0; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
.gis-menu-item-icon-drill { background: url("' + init.contextPath + '/dhis-web-commons/javascripts/plugin/images/drill_16.png") no-repeat; }
.gis-menu-item-icon-float { background: url("' + init.contextPath + '/dhis-web-commons/javascripts/plugin/images/float_16.png") no-repeat; }
.x-color-picker a { padding: 0; }
.x-color-picker em span { width: 14px; height: 14px; }
.gis-panel-legend .x-panel-header { height: 23px; background: #f1f1f1; padding: 4px 4px 0 5px}
.gis-panel-legend .x-panel-header .x-panel-header-text { font-size: 10px; }
*/

// alert
//.ns-plugin-alert { width: 90%; padding: 5%; color: #777 }

// Leaflet
/*
.leaflet-dhis2 { height: 100%; background-color: #fff; }
.leaflet-dhis2 .leaflet-popup h2 { padding-bottom: 10px; font-size: 14px; }
.leaflet-dhis2 .leaflet-popup th, .leaflet-dhis2 .leaflet-popup td { white-space: nowrap; }
.leaflet-dhis2 .leaflet-popup th { font-weight: bold; padding-right: 10px; }
.leaflet-dhis2 .leaflet-popup ul { margin-top: 5px; }
.leaflet-dhis2 .leaflet-popup li { list-style-type: disc; margin-left: 20px; }
.leaflet-dhis2 .leaflet-popup em { font-weight:bold; }
*/




