{
    "plugins": ["transform-es2015-arrow-functions"],
    "presets": [ "react", "es2015", "stage-2" ],
    "env": {
        "test": {
            "presets": [ "react", "es2015", "stage-2" ]
        }
    }
}
