.ColumnHeader {
    position: relative;
    top: -22px;
}

.ColumnHeader-label {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 15px;
    user-select: none;
    overflow: hidden;
}

.ColumnHeader svg {
    position: absolute;
    top: 5px;
    right: 0;
}